

#loubanaImg:hover{
  opacity: 50%;
}

#iconHover:hover{
color:cyan ;
border-color:rgb(189, 24, 24) !important;
font-weight: 500 !important;
font-size: 3em;
}
.colorChange{
color: #11435a;
background-image: linear-gradient(92deg, #11435a 0%,rgb(21, 11, 158) 50%,rgb(55, 82, 133) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
animation: hue 1s infinite linear;
font-weight: 800 !important;
font-size: 2em;}

.root {
  width: 100%;
  background-color:rgba(3, 3, 3, 0.0) !important
}
.nav{
  color:#fff;
  
 }
 .link {
  padding:1em;
  background-color:rgba(3, 3, 3,0.8)
}
.paper{
    z-index: 1;
    position: relative;
    background: rgba(206,226,250,0.50) !important;
    margin:1em 3em 7em 3em;
    padding:1em;
}

@media only screen and (max-width: 500px){
  #sliderText {
    display: none !important;
  }
  #navbar{
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  .colorChange{
    font-weight: 100 !important;
    font-size: 1.25em;
  }
  
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounceInRight 2s;
    /* animation-delay: 0.5s; */
  }
}














@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: bounceInLeft 2s;
    
  }
}


