
.root {
  width: 100%;
  background-color:rgb(27, 27, 27) !important
}
.nav{
  color:#fff;
  
 }
 .link {
  padding:1em;
  background-color:rgb(27, 27, 27)
}
.paper{
    z-index: 1;
    position: relative;
    background: rgba(206,226,250,0.70) !important;
    margin:1em 3em 7em 3em;
    padding:1em;
}

@media only screen and (max-width: 500px){
  #sliderText {
    display: none !important;
  }
  #navbar{
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
    opacity:1 ;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity:1 ;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: bounceInDown 2s;
    /* animation-delay: 0.5s; */
  }
}
